h1{
    text-align: center;
    font-size: 90px;
    color: rgb(7, 3, 112);
}

a{
    font-size: 20px;
    text-align: right;
}
h3, h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.div1{
    font-style: normal;
    font-weight: 300;
    color: black;
    text-align: center;
    list-style-position: inside;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.div2{
    text-align:left;
    font-style: normal;
    
}